model:
  model_path: "/workspace/ComfyUI/models/checkpoints/LTX/ltx-2-19b-distilled-fp8.safetensors"
  text_encoder_path: "/workspace/ComfyUI/models/text_encoders/LTX"
  training_mode: "lora"
  load_checkpoint: null

output_dir: "/workspace/train/output/custom"
seed: 42

data:
  preprocessed_data_root: "/workspace/train/data/dataset/.precomputed"
  num_dataloader_workers: 2

training_strategy:
  name: "text_to_video"
  first_frame_conditioning_p: 0.3
  with_audio: false
  audio_latents_dir: "audio_latents"

lora:
  rank: 32
  alpha: 32
  dropout: 0.0
  target_modules:
    - "to_k"
    - "to_q"
    - "to_v"
    - "to_out.0"
    # - "ff.net.0.proj"
    # - "ff.net.2"
    # - "audio_ff.net.0.proj"
    # - "audio_ff.net.2"

optimization:
  learning_rate: 2e-4
  steps: 5000
  batch_size: 1
  gradient_accumulation_steps: 1
  max_grad_norm: 1.0
  optimizer_type: "adamw8bit"
  scheduler_type: "linear"
  scheduler_params: { }
  enable_gradient_checkpointing: True

acceleration:
  mixed_precision_mode: "bf16"
  quantization: "int8-quanto"
  load_text_encoder_in_8bit: True

checkpoints:
  interval: 500
  keep_last_n: -1
  precision: "bfloat16"

flow_matching:
  timestep_sampling_mode: "shifted_logit_normal"
  timestep_sampling_params: { }

validation:
  prompts:
    - "A beautiful woman with dark hair moves seductively in a public street during a sunset, erotic moving her hips side to side as she smiles seductively towards the camera. The beautiful sunset casts golden light across her wet skin. The audio captures the gentle sound of dripping water and the girl quietly moaning with a breathy voice, ambient street noise with occasional distant sounds of the city."
    - "A beautiful woman with black hair and huge breasts stands in a professional kitchen wearing a schoolgirl cosplay outfit, plating a gourmet dish with precise movements as she smiles towards the camera. Steam rises from freshly cooked vegetables as she arranges them with tweezers. The stainless steel surfaces gleam under bright overhead lights, and various pots simmer on the stove behind him. The audio features the sizzling of pans, the clinking of utensils against plates, and the ambient hum of kitchen ventilation."
    - "A beautiful woman with long beautiful hair is bellydancing and moving around in a sunny beach wearing a bikini, smiling seductively towards the camera. The beautiful golden sunlight lighting across her wet skin. The audio captures the sounds of dripping water and the girl quietly moaning in pleasure with a breathy voice and the distant sounds of the city."
    - "A beautiful woman with dark striped hair is moving seductively in a sunny beach, smiling seductively towards the camera. The beautiful golden sunlight lighting across her wet skin. The audio captures the sounds of dripping water and the girl quietly moaning in pleasure with a breathy voice and the distant sounds of the city."
  
  negative_prompt: "worst quality, blurry, jittery, distorted, low resolution, watermark"

  images: null # Optional: First frame images for image-to-video validation. If provided, must have one image per prompt.
  video_dims: [ 448, 768, 49 ]
  frame_rate: 25.0
  seed: 42
  inference_steps: 15
  interval: null
  videos_per_prompt: 1
  guidance_scale: 1
  stg_scale: 1.0  # Recommended: 1.0 (0.0 disables STG)
  stg_blocks: [29]  # Recommended: single block 29
  stg_mode: "stg_av"  # "stg_av" perturbs both audio and video, "stg_v" video only
  generate_audio: true
  skip_initial_validation: true

hub:
  push_to_hub: false
  hub_model_id: null

wandb:
  enabled: false
  project: "ltx-2-trainer"
  entity: null
  tags: [ "ltx2", "lora" ]
  log_validation_videos: true
